{# src/Nms/AdminBundle/Resources/views/Defaiult/index.html.twig #}
{% extends 'NmsAdminBundle::layout.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
<header>
    <h1 id="page-header">About Buddha</h1>

</header>
<div class="fluid-container">
    Hello {{ name }}!
    <article>
        <p>Buddha is an extensive competition and registration system for the Australian Rugby Union community.</p>
    </article>
</div>
{% endblock %}

