{# src/Boheme/CafeBundle/Resources/views/Default/index.html.twig #}
{% extends 'NmsAdminBundle::layout.html.twig' %}

{% set page_title = 'Meals list' %}

{% block title %}
{{ parent() }} {{ page_title }}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block pagetitle %}{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block body -%}
        <!--=== Slider ===-->
        <div class="center-img">
            <img src="/image/home.png" alt="" />
        </div>
        <!--=== End Slider ===-->

        <!--=== Purchase Block ===-->
        <div class="row-fluid purchase margin-bottom-30">
            <div class="container">
                <div class="span11">
                    <span>Cafe Boheme is a different cafe style restaurant.</span>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi  vehicula sem ut volutpat. Ut non libero magna fusce condimentum eleifend enim a feugiat.</p>
                </div>
            </div>
        </div><!--/row-fluid-->
        <!-- End Purchase Block -->

        <!--=== Content Part ===-->
        <div class="container">
            <!-- Service Blocks -->
            <!-- //End Service Blokcs -->

            <!-- Recent Works -->
            <div class="headline"><h3>Recent Works</h3></div>
            <ul class="thumbnails">
                <li class="span3">
                    <div class="thumbnail-style thumbnail-kenburn">
                        <div class="thumbnail-img">
                            <div class="overflow-hidden"><img src="/assets/img/carousel/2.jpg" alt="" /></div>
                            <a class="btn-more hover-effect" href="#">read more +</a>
                        </div>
                        <h3><a class="hover-effect" href="#">Our Work</a></h3>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail-style thumbnail-kenburn">
                        <div class="thumbnail-img">
                            <div class="overflow-hidden"><img src="/assets/img/carousel/3.jpg" alt="" /></div>
                            <a class="btn-more hover-effect" href="#">read more +</a>
                        </div>
                        <h3><a class="hover-effect" href="#">One More Work</a></h3>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail-style thumbnail-kenburn">
                        <div class="thumbnail-img">
                            <div class="overflow-hidden"><img src="/assets/img/carousel/9.jpg" alt="" /></div>
                            <a class="btn-more hover-effect" href="#">read more +</a>
                        </div>
                        <h3><a class="hover-effect" href="#">Another Work</a></h3>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail-style thumbnail-kenburn">
                        <div class="thumbnail-img">
                            <div class="overflow-hidden"><img src="/assets/img/carousel/10.jpg" alt="" /></div>
                            <a class="btn-more hover-effect" href="#">read more +</a>
                        </div>
                        <h3><a class="hover-effect" href="#">Huge Work</a></h3>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                    </div>
                </li>
            </ul><!--/thumbnails-->
            <!-- //End Recent Works -->

        </div><!--/container-->
        <!-- End Content Part -->
{% endblock %}
