{# src/Boheme/CafeBundle/Resources/views/Default/meal.html.twig #}
{% extends 'NmsAdminBundle::layout.html.twig' %}

{% set page_title = 'Meals menu' %}

{% block title %}
{{ parent() }} {{ page_title }}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block pagetitle %}{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block body -%}
        <!--=== Slider ===-->
        <div class="center-img">
            <img src="/image/menu.png" alt="" />
        </div>
        <!--=== End Slider ===-->

        <!--=== Content Part ===-->
        <div class="container">

        </div><!--/container-->
        <!-- End Content Part -->
{% endblock %}
